In [3]:
import pandas as pd
import boto3
import json

# Connect to Redshift cluster
## Load DWH Params from a file

In [4]:
import configparser
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))

KEY                    = config.get('AWS','KEY')
SECRET                 = config.get('AWS','SECRET')

DWH_CLUSTER_TYPE       = config.get("DWH","DWH_CLUSTER_TYPE")
DWH_NUM_NODES          = config.get("DWH","DWH_NUM_NODES")
DWH_NODE_TYPE          = config.get("DWH","DWH_NODE_TYPE")

DWH_CLUSTER_IDENTIFIER = config.get("DWH","DWH_CLUSTER_IDENTIFIER")
DWH_DB                 = config.get("DWH","DWH_DB")
DWH_DB_USER            = config.get("DWH","DWH_DB_USER")
DWH_DB_PASSWORD        = config.get("DWH","DWH_DB_PASSWORD")
DWH_PORT               = config.get("DWH","DWH_PORT")

DWH_IAM_ROLE_NAME      = config.get("DWH", "DWH_IAM_ROLE_NAME")

(DWH_DB_USER, DWH_DB_PASSWORD, DWH_DB)

pd.DataFrame({"Param":
                  ["DWH_CLUSTER_TYPE", "DWH_NUM_NODES", "DWH_NODE_TYPE", "DWH_CLUSTER_IDENTIFIER", "DWH_DB", "DWH_DB_USER", "DWH_DB_PASSWORD", "DWH_PORT", "DWH_IAM_ROLE_NAME"],
              "Value":
                  [DWH_CLUSTER_TYPE, DWH_NUM_NODES, DWH_NODE_TYPE, DWH_CLUSTER_IDENTIFIER, DWH_DB, DWH_DB_USER, DWH_DB_PASSWORD, DWH_PORT, DWH_IAM_ROLE_NAME]
             })

                    Param       Value
0        DWH_CLUSTER_TYPE  multi-node
1           DWH_NUM_NODES           4
2           DWH_NODE_TYPE   dc2.large
3  DWH_CLUSTER_IDENTIFIER  dwhCluster
4                  DWH_DB         dwh
5             DWH_DB_USER     dwhuser
6         DWH_DB_PASSWORD    Passw0rd
7                DWH_PORT        5439
8       DWH_IAM_ROLE_NAME     dwhRole

## Create clients for IAM, EC2, S3 and Redshift

In [5]:
args = {
    "region_name": "us-west-2",
    "aws_access_key_id": KEY,
    "aws_secret_access_key": SECRET
}

ec2 = boto3.resource('ec2', **args)
s3 = boto3.resource('s3', **args)
iam = boto3.client('iam', **args)
redshift = boto3.client('redshift', **args)

## Connect to the cluster

In [10]:
def prettyRedshiftProps(props):
    pd.set_option('display.max_colwidth', -1)
    keysToShow = ["ClusterIdentifier", "NodeType", "ClusterStatus", "MasterUsername", "DBName", "Endpoint", "NumberOfNodes", 'VpcId']
    x = [(k, v) for k,v in props.items() if k in keysToShow]
    return pd.DataFrame(data=x, columns=["Key", "Value"])

myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
prettyRedshiftProps(myClusterProps)

,Key,Value
0,ClusterIdentifier,dwhcluster
1,NodeType,dc2.large
2,ClusterStatus,available
3,MasterUsername,dwhuser
4,DBName,dwh
5,Endpoint,"{'Address': 'dwhcluster.ci2m6m74tbzm.us-west-2.redshift.amazonaws.com', 'Port': 5439}"
6,VpcId,vpc-d12fb6a9
7,NumberOfNodes,4

In [11]:
DWH_ENDPOINT = myClusterProps['Endpoint']['Address']
DWH_ROLE_ARN = myClusterProps['IamRoles'][0]['IamRoleArn']
print("DWH_ENDPOINT :: ", DWH_ENDPOINT)
print("DWH_ROLE_ARN :: ", DWH_ROLE_ARN)

DWH_ENDPOINT ::  dwhcluster.ci2m6m74tbzm.us-west-2.redshift.amazonaws.com
DWH_ROLE_ARN ::  arn:aws:iam::264680862608:role/dwhRole

In [12]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [13]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://dwhuser:Passw0rd@dwhcluster.ci2m6m74tbzm.us-west-2.redshift.amazonaws.com:5439/dwh

'Connected: dwhuser@dwh'

In [16]:
nstaging_events = %sql SELECT count(*) FROM staging_events;
nstaging_songs = %sql SELECT count(*) FROM staging_songs;
nsongplays = %sql SELECT count(*) FROM songplays;
nusers = %sql SELECT count(*) FROM users;
nsongs = %sql SELECT count(*) FROM songs;
nartists = %sql SELECT count(*) FROM artists;
ntimes = %sql SELECT count(*) FROM times;

print("nstaging_events\t\t", nstaging_events[0][0])
print("nstaging_songs\t\t", nstaging_songs[0][0])
print("nsong_plays\t\t", nsongplays[0][0])
print("nusers\t\t", nusers[0][0])
print("nsongs\t\t", nsongs[0][0])
print("nartists\t\t", nartists[0][0])
print("ntimes\t\t", ntimes[0][0])

 * postgresql://dwhuser:***@dwhcluster.ci2m6m74tbzm.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.
 * postgresql://dwhuser:***@dwhcluster.ci2m6m74tbzm.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.
 * postgresql://dwhuser:***@dwhcluster.ci2m6m74tbzm.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.
 * postgresql://dwhuser:***@dwhcluster.ci2m6m74tbzm.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.
 * postgresql://dwhuser:***@dwhcluster.ci2m6m74tbzm.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.
 * postgresql://dwhuser:***@dwhcluster.ci2m6m74tbzm.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.
 * postgresql://dwhuser:***@dwhcluster.ci2m6m74tbzm.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.
nstaging_events		 8056
nstaging_songs		 14896
nsong_plays		 333
nusers		 104
nsongs		 14896
nartists		 10025
ntimes		 333

In [18]:
%sql SELECT * FROM times limit 10;

 * postgresql://dwhuser:***@dwhcluster.ci2m6m74tbzm.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[(datetime.datetime(2018, 11, 5, 11, 14, 0, 796000), 11, 5, 45, 11, 2018, '1'),
 (datetime.datetime(2018, 11, 5, 17, 54, 12, 796000), 17, 5, 45, 11, 2018, '1'),
 (datetime.datetime(2018, 11, 5, 17, 54, 32, 796000), 17, 5, 45, 11, 2018, '1'),
 (datetime.datetime(2018, 11, 5, 18, 0, 37, 796000), 18, 5, 45, 11, 2018, '1'),
 (datetime.datetime(2018, 11, 6, 7, 36, 46, 796000), 7, 6, 45, 11, 2018, '2'),
 (datetime.datetime(2018, 11, 7, 15, 16, 17, 796000), 15, 7, 45, 11, 2018, '3'),
 (datetime.datetime(2018, 11, 8, 7, 41, 8, 796000), 7, 8, 45, 11, 2018, '4'),
 (datetime.datetime(2018, 11, 9, 14, 50, 53, 796000), 14, 9, 45, 11, 2018, '5'),
 (datetime.datetime(2018, 11, 10, 20, 36, 50, 796000), 20, 10, 45, 11, 2018, '6'),
 (datetime.datetime(2018, 11, 11, 18, 53, 36, 796000), 18, 11, 45, 11, 2018, '0')]

In [19]:
%sql SELECT * FROM users limit 10;

 * postgresql://dwhuser:***@dwhcluster.ci2m6m74tbzm.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[(2, 'Jizelle', 'Benjamin', 'F', 'free'),
 (8, 'Kaylee', 'Summers', 'F', 'free'),
 (18, 'Jacob', 'Rogers', 'M', 'free'),
 (28, 'Brantley', 'West', 'M', 'free'),
 (42, 'Harper', 'Barrett', 'M', 'paid'),
 (48, 'Marina', 'Sutton', 'F', 'free'),
 (49, 'Chloe', 'Cuevas', 'F', 'paid'),
 (58, 'Emily', 'Benson', 'F', 'paid'),
 (72, 'Hayden', 'Brock', 'F', 'paid'),
 (80, 'Tegan', 'Levine', 'F', 'free')]

In [20]:
%sql SELECT * FROM songs limit 10;

 * postgresql://dwhuser:***@dwhcluster.ci2m6m74tbzm.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[('SOAACFC12A8C140567', 'Supernatural Pt. II', 'ARNHTE41187B99289A', 0, Decimal('343')),
 ('SOABLAF12AB018E1D9', 'Lesson Learned', 'ARSW5F51187FB4CFC9', 2009, Decimal('256')),
 ('SOABVWD12A58A7C3FF', 'Adios_ Mi Corazon', 'ARJUNZD1187B9A5DAE', 1964, Decimal('163')),
 ('SOACNDS12A8AE45586', 'Orsus', 'ARGJLIC1187B9B6CDB', 2007, Decimal('25')),
 ('SOAEJLS12A8AE47ADD', 'Sweet Pretty Thing', 'ARW63XP1187FB5AB99', 1989, Decimal('138')),
 ('SOAEQKJ12A58A761EA', 'Certified Gangstas (featuring Jim Jones Camron & Bezell)', 'ART62WC1187FB47E80', 0, Decimal('210')),
 ('SOAFBCP12A8C13CC7D', 'King Of Scurf (2007 Digital Remaster)', 'ARTC1LV1187B9A4858', 1972, Decimal('301')),
 ('SOAFBKM12AB01837A7', 'Brain Dead', 'ARL14X91187FB4CF14', 1995, Decimal('94')),
 ('SOAFFDU12AB017D31E', 'Hesitant', 'ARRRFA71187B98F09B', 2004, Decimal('92')),
 ('SOAFGEK12AB018232B', 'Caught In The Middle', 'ARR94U11187B99E503', 2002, Decimal('206'))]

In [22]:
%sql SELECT * FROM songplays order by songplay_id limit 10;

 * postgresql://dwhuser:***@dwhcluster.ci2m6m74tbzm.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[(0, datetime.datetime(2018, 11, 9, 19, 57, 57, 796000), 36, 'paid', 'SODWXQV12A6310F10D', 'AR6892W1187B9AC71B', 392, 'Janesville-Beloit, WI', '"Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (1, datetime.datetime(2018, 11, 28, 7, 15, 21, 796000), 58, 'paid', 'SONQEYS12AF72AABC9', 'ARLY7P81187B9ACF4D', 887, 'Augusta-Richmond County, GA-SC', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (2, datetime.datetime(2018, 11, 8, 15, 1, 57, 796000), 29, 'paid', 'SOFVOQL12A6D4F7456', 'ARPN0Y61187B9ABAA0', 372, 'Atlanta-Sandy Springs-Roswell, GA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (3, datetime.datetime(2018, 11, 3, 21, 14, 28, 796000), 49, 'free', 'SOFVOQL12A6D4F7456', 'ARPN0Y61187B9ABAA0', 195, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (4, datetime.datetime(2018, 11, 13, 17, 47, 5, 796000), 29, 'paid', 'SOJWFXM12A3F1EBE8B', 'AR049S81187B9AE8A5', 486, 'Atlanta-Sandy Springs-Roswell, GA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (5, datetime.datetime(2018, 11, 26, 15, 37, 14, 796000), 88, 'paid', 'SOARTQC12A58A77F0C', 'ARCE0IX1187FB528B4', 900, 'Sacramento--Roseville--Arden-Arcade, CA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (6, datetime.datetime(2018, 11, 28, 8, 18, 57, 796000), 58, 'paid', 'SOJWCWM12A8C13B664', 'ARM6T8I1187FB36CC8', 887, 'Augusta-Richmond County, GA-SC', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (7, datetime.datetime(2018, 11, 24, 4, 31, 30, 796000), 29, 'paid', 'SOAECHX12A6D4FC3D9', 'ARX2DLI1187FB4DD03', 709, 'Atlanta-Sandy Springs-Roswell, GA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (8, datetime.datetime(2018, 11, 21, 8, 11, 10, 796000), 88, 'paid', 'SONQEYS12AF72AABC9', 'ARLY7P81187B9ACF4D', 744, 'Sacramento--Roseville--Arden-Arcade, CA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (9, datetime.datetime(2018, 11, 7, 15, 16, 17, 796000), 2, 'free', 'SOTJEIC12A8C139054', 'AR0OTEX1187FB3600D', 323, 'Plymouth, IN', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"')]

In [24]:
%sql SELECT * FROM artists limit 10;

 * postgresql://dwhuser:***@dwhcluster.ci2m6m74tbzm.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[('AR035N21187FB3938E', 'BT', 'Earth', Decimal('34'), Decimal('-102')),
 ('AR03BDP1187FB5B324', 'Britney Spears feat. Pharrell Williams', 'Kentwood, LA; Los Angeles, CA', Decimal('34'), Decimal('-118')),
 ('AR03IZC1187FB3E058', 'Aidonia', '', None, None),
 ('AR040JZ1187FB399A9', 'Sparks', 'Los Angeles, CA', Decimal('34'), Decimal('-118')),
 ('AR050VJ1187B9B13A7', 'Dead Kennedys', '', None, None),
 ('AR05TTS11C8A422FEC', 'Westbam And The Love Committee', '', None, None),
 ('AR05UYB1187B99B90F', 'General Electrics', 'Paris, France', Decimal('48'), Decimal('2')),
 ('AR065TW1187FB4C3A5', 'Nearly God', 'Knowle West, Bristol, Avon, Engla', Decimal('51'), Decimal('-2')),
 ('AR06XSY1187B9B279E', 'Little River Band', 'Melbourne, Australia', None, None),
 ('AR06Z151187B9AF7C0', 'Warren Smith', 'Middlebourne, WV', Decimal('39'), Decimal('-80'))]

In [ ]:
%%sql
delete from staging_events;
delete from staging_songs;
delete from songplays;
delete from users;
delete from songs;
delete from artists;
delete from time;